@model IEnumerable<GoodFood.Models.Recipe>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model == null)
{
    <p>No Recipe has been added</p>
}
else
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Recipe Description</th>
                <th>Category</th>
                <th> </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.RecipeName
                    </td>

               
                    <td>
                        @item.RecipeDiscription
                    </td>

                    <td>
                        @item.RecipeName
                    </td>
               

               
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = @item.id }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }




        </tbody>

    </table>

}
